Pandas Example

In [30]:
'''
Resources:
10 minute intro to Pandas: https://pandas.pydata.org/pandas-docs/stable/user_guide/10min.html
Cheatsheet with most common commands: https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf
'''

'\nResources:\n10 minute intro to Pandas: https://pandas.pydata.org/pandas-docs/stable/user_guide/10min.html\nCheatsheet with most common commands: https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf\n'

In [31]:
import requests
import lxml.html as lh
import pandas as pd

There are thousands of different Python 'libraries' available for people to use - packages of Python code made publicly available by other people. These packages (like pandas, numpy, scipy) are extremely useful and are made for different purposes.

Requests - A library to easily send HTTP requests through Python
lxml.html - Based on lxml's HTML parser (code to search through the code (HyperText Markup Language) that forms a website)
Pandas - Open source data analysis and manipulation tool, most well-known for use of dataframes (tables)

In [32]:
url = 'https://www.pro-football-reference.com/years/2021/passing.htm'
df = pd.read_html(url)[0]

In [58]:
df.head(20)

,Rk,Player,Tm,Age,Pos,G,GS,QBrec,Cmp,Att,Cmp%,Yds,TD,TD%,Int,Int%,1D,Lng,Y/A,AY/A,Y/C,Y/G,Rate,QBR,Sk,Yds.1,Sk%,NY/A,ANY/A,4QC,GWD
0,1,Tom Brady*,TAM,44,QB,17.0,17.0,13-4-0,485.0,719.0,67.5,5316,43,6.0,12,1.7,297,62,7.4,7.8,11.0,312.7,102.1,68.1,22.0,144,3.0,6.98,7.41,3,5
1,2,Justin Herbert*,LAC,23,QB,17.0,17.0,9-8-0,443.0,672.0,65.9,5014,38,5.7,15,2.2,256,72,7.5,7.6,11.3,294.9,97.7,65.6,31.0,214,4.4,6.83,6.95,5,5
2,3,Matthew Stafford,LAR,33,QB,17.0,17.0,12-5-0,404.0,601.0,67.2,4886,41,6.8,17,2.8,291,79,8.1,8.2,12.1,287.4,102.9,63.8,30.0,243,4.8,7.36,7.45,3,4
3,4,Patrick Mahomes*,KAN,26,QB,17.0,17.0,12-5-0,436.0,658.0,66.3,4839,37,5.6,13,2.0,316,75,7.4,7.6,11.1,284.6,98.5,62.2,28.0,146,4.1,6.84,7.07,3,3
4,5,Derek Carr,LVR,30,QB,17.0,17.0,10-7-0,428.0,626.0,68.4,4804,23,3.7,14,2.2,232,61,7.7,7.4,11.2,282.6,94.0,52.4,40.0,241,6.0,6.85,6.60,3,6
5,6,Joe Burrow,CIN,25,QB,16.0,16.0,10-6-0,366.0,520.0,70.4,4611,34,6.5,14,2.7,250,82,8.9,9.0,12.6,288.2,108.3,54.3,51.0,370,8.9,7.43,7.51,2,3
6,7,Dak Prescott,DAL,28,QB,16.0,16.0,11-5-0,410.0,596.0,68.8,4449,37,6.2,10,1.7,238,51,7.5,8.0,10.9,278.1,104.2,54.6,30.0,144,4.8,6.88,7.34,1,2
7,8,Josh Allen,BUF,25,QB,17.0,17.0,11-6-0,409.0,646.0,63.3,4407,36,5.6,15,2.3,261,61,6.8,6.9,10.8,259.2,92.2,60.7,26.0,164,3.9,6.31,6.38,NaN,NaN
8,9,Kirk Cousins*,MIN,33,QB,16.0,16.0,8-8-0,372.0,561.0,66.3,4221,33,5.9,7,1.2,192,64,7.5,8.1,11.3,263.8,103.1,52.3,28.0,197,4.8,6.83,7.42,3,4
9,10,Aaron Rodgers*+,GNB,38,QB,16.0,16.0,13-3-0,366.0,531.0,68.9,4115,37,7.0,4,0.8,221,75,7.7,8.8,11.2,257.2,111.9,69.1,30.0,188,5.3,7.00,8.00,1,2
10,11,Matt Ryan,ATL,36,QB,17.0,17.0,7-10-0,375.0,560.0,67.0,3968,20,3.6,12,2.1,195,64,7.1,6.8,10.6,233.4,90.4,46.1,40.0,274,6.7,6.16,5.92,3,4
11,12,Jimmy Garoppolo,SFO,30,QB,15.0,15.0,9-6-0,301.0,441.0,68.3,3810,20,4.5,12,2.7,202,83,8.6,8.3,12.7,254.0,98.7,53.3,29.0,201,6.2,7.68,7.38,3,3
12,13,Mac Jones*,NWE,23,QB,17.0,17.0,10-7-0,352.0,521.0,67.6,3801,22,4.2,13,2.5,190,75,7.3,7.0,10.8,223.6,92.5,50.9,28.0,241,5.1,6.48,6.22,1,1
13,14,Kyler Murray*,ARI,24,QB,14.0,14.0,9-5-0,333.0,481.0,69.2,3787,24,5.0,10,2.1,179,77,7.9,7.9,11.4,270.5,100.6,57.3,31.0,286,6.1,6.84,6.90,1,1
14,15,Ben Roethlisberger,PIT,39,QB,16.0,16.0,9-7-0,390.0,605.0,64.5,3740,22,3.6,10,1.7,203,59,6.2,6.2,9.6,233.8,86.8,35.6,38.0,239,5.9,5.44,5.43,6,7
15,16,Ryan Tannehill,TEN,33,QB,17.0,17.0,12-5-0,357.0,531.0,67.2,3734,21,4.0,14,2.6,201,57,7.0,6.6,10.5,219.6,89.6,55.9,47.0,327,8.1,5.89,5.53,3,4
16,17,Trevor Lawrence,JAX,22,QB,17.0,17.0,3-14-0,359.0,602.0,59.6,3641,12,2.0,17,2.8,177,58,6.0,5.2,10.1,214.2,71.9,33.5,32.0,238,5.0,5.37,4.54,1,2
17,18,Carson Wentz,IND,29,QB,17.0,17.0,9-8-0,322.0,516.0,62.4,3563,27,5.2,7,1.4,165,76,6.9,7.3,11.1,209.6,94.6,54.7,32.0,227,5.8,6.09,6.50,NaN,NaN
18,19,Taylor Heinicke,WAS,28,QB,16.0,15.0,7-8-0,321.0,494.0,65.0,3419,20,4.0,15,3.0,167,73,6.9,6.4,10.7,213.7,85.9,39.9,38.0,278,7.1,5.90,5.39,3,4
19,20,Jared Goff,DET,27,QB,14.0,14.0,3-10-1,332.0,494.0,67.2,3245,19,3.8,8,1.6,162,63,6.6,6.6,9.8,231.8,91.5,39.5,35.0,280,6.6,5.60,5.64,2,2

What is this?

In [34]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

What can we do with it? Think of it like a table.

We can take rows

In [35]:
first_row = df.iloc[0,:]

print(first_row)

Rk                 1
Player    Tom Brady*
Tm               TAM
Age               44
Pos               QB
G                 17
GS                17
QBrec         13-4-0
Cmp              485
Att              719
Cmp%            67.5
Yds             5316
TD                43
TD%              6.0
Int               12
Int%             1.7
1D               297
Lng               62
Y/A              7.4
AY/A             7.8
Y/C             11.0
Y/G            312.7
Rate           102.1
QBR             68.1
Sk                22
Yds.1            144
Sk%              3.0
NY/A            6.98
ANY/A           7.41
4QC                3
GWD                5
Name: 0, dtype: object

In [36]:
# to make viewing rows and columns a little easier
pd.set_option('display.max_columns', None)

df.iloc[0:1,:]

,Rk,Player,Tm,Age,Pos,G,GS,QBrec,Cmp,Att,Cmp%,Yds,TD,TD%,Int,Int%,1D,Lng,Y/A,AY/A,Y/C,Y/G,Rate,QBR,Sk,Yds.1,Sk%,NY/A,ANY/A,4QC,GWD
0,1,Tom Brady*,TAM,44,QB,17,17,13-4-0,485,719,67.5,5316,43,6.0,12,1.7,297,62,7.4,7.8,11.0,312.7,102.1,68.1,22,144,3.0,6.98,7.41,3,5

What is a "row" in Pandas?

In [37]:
print(type(first_row))

<class 'pandas.core.series.Series'>

It's a Pandas Series object! It's basically an array (a list) with indices (labels for each position in the list)

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.html#pandas.Series

We can select elements of a Pandas series by their label. In the above example, if we are interested in the value of the "Player" index, we can do:

In [38]:
print(first_row.loc['Player'])

Tom Brady*

These are the two ways we select things in a Pandas object: by label (loc), or by index (iloc)

Just like we can select rows, we can also select columns

In [39]:
df.head()

,Rk,Player,Tm,Age,Pos,G,GS,QBrec,Cmp,Att,Cmp%,Yds,TD,TD%,Int,Int%,1D,Lng,Y/A,AY/A,Y/C,Y/G,Rate,QBR,Sk,Yds.1,Sk%,NY/A,ANY/A,4QC,GWD
0,1,Tom Brady*,TAM,44,QB,17,17,13-4-0,485,719,67.5,5316,43,6.0,12,1.7,297,62,7.4,7.8,11.0,312.7,102.1,68.1,22,144,3.0,6.98,7.41,3,5
1,2,Justin Herbert*,LAC,23,QB,17,17,9-8-0,443,672,65.9,5014,38,5.7,15,2.2,256,72,7.5,7.6,11.3,294.9,97.7,65.6,31,214,4.4,6.83,6.95,5,5
2,3,Matthew Stafford,LAR,33,QB,17,17,12-5-0,404,601,67.2,4886,41,6.8,17,2.8,291,79,8.1,8.2,12.1,287.4,102.9,63.8,30,243,4.8,7.36,7.45,3,4
3,4,Patrick Mahomes*,KAN,26,QB,17,17,12-5-0,436,658,66.3,4839,37,5.6,13,2.0,316,75,7.4,7.6,11.1,284.6,98.5,62.2,28,146,4.1,6.84,7.07,3,3
4,5,Derek Carr,LVR,30,QB,17,17,10-7-0,428,626,68.4,4804,23,3.7,14,2.2,232,61,7.7,7.4,11.2,282.6,94.0,52.4,40,241,6.0,6.85,6.60,3,6

In [40]:
first_column = df.loc[:,"Player"]

print(first_column)

0                 Tom Brady*
1            Justin Herbert*
2           Matthew Stafford
3           Patrick Mahomes*
4                 Derek Carr
5                 Joe Burrow
6               Dak Prescott
7                 Josh Allen
8              Kirk Cousins*
9            Aaron Rodgers*+
10                 Matt Ryan
11           Jimmy Garoppolo
12                Mac Jones*
13             Kyler Murray*
14        Ben Roethlisberger
15            Ryan Tannehill
16           Trevor Lawrence
17              Carson Wentz
18           Taylor Heinicke
19                Jared Goff
20               Jalen Hurts
21           Russell Wilson*
22         Teddy Bridgewater
23            Baker Mayfield
24            Lamar Jackson*
25               Davis Mills
26            Tua Tagovailoa
27               Sam Darnold
28              Daniel Jones
29                    Player
30               Zach Wilson
31             Justin Fields
32               Andy Dalton
33           Jacoby Brissett
34            Jameis Winston
35            Trevor Siemian
36             Tyler Huntley
37               Taysom Hill
38              Tyrod Taylor
39                Mike White
40              Mike Glennon
41                 Drew Lock
42                Colt McCoy
43                Geno Smith
44                Cam Newton
45              Josh Johnson
46                Trey Lance
47                 Tim Boyle
48               Case Keenum
49        Gardner Minshew II
50               Cooper Rush
51               Jordan Love
52               P.J. Walker
53                Joe Flacco
54             Mason Rudolph
55                Nick Foles
56               Brian Hoyer
57                Jake Fromm
58           Garrett Gilbert
59              Sean Mannion
60                    Player
61             Brandon Allen
62              Nick Mullens
63                  Ian Book
64                Kyle Allen
65        Cedrick Wilson Jr.
66                Chad Henne
67               Tom Kennedy
68            Blaine Gabbert
69                Tyler Boyd
70             Jakobi Meyers
71         Mitchell Trubisky
72                  Jack Fox
73           Chris Streveler
74         Justin Jefferson*
75             C.J. Beathard
76            Christian Kirk
77           Kendrick Bourne
78               Jacob Eason
79            Deebo Samuel*+
80               Chris Banjo
81                Josh Rosen
82            Kadarius Toney
83              Dante Pettis
84          Courtland Sutton
85            Tommy Townsend
86          Ryan Fitzpatrick
87           Matthias Farley
88             Derrick Henry
89               Kellen Mond
90              John Wolford
91                    Player
92           Ezekiel Elliott
93            Marcus Mariota
94             Johnny Hekker
95                 Greg Ward
96            Kendall Hinton
97             Keenan Allen*
98            Danny Amendola
99              Cole Beasley
100            Chris Boswell
101               A.J. Brown
102             Rex Burkhead
103              Keelan Cole
104              Riley Dixon
105        Leonard Fournette
106           Feleipe Franks
107             Mike Gesicki
108           Blake Gillikin
109                 Sam Koch
110            Cooper Kupp*+
111                  Ty Long
112         David Montgomery
113    Cordarrelle Patterson
114             Brett Rypien
115            D'Andre Swift
116            Albert Wilson
117          Brandon Zylstra
Name: Player, dtype: object

Conceptual question: What type is "first_column"? I.e. what would be the output of type(first_column)?

There is another very important concept: boolean indexing. Let's look at a small example

In [41]:
small_df = df.head()

small_df

,Rk,Player,Tm,Age,Pos,G,GS,QBrec,Cmp,Att,Cmp%,Yds,TD,TD%,Int,Int%,1D,Lng,Y/A,AY/A,Y/C,Y/G,Rate,QBR,Sk,Yds.1,Sk%,NY/A,ANY/A,4QC,GWD
0,1,Tom Brady*,TAM,44,QB,17,17,13-4-0,485,719,67.5,5316,43,6.0,12,1.7,297,62,7.4,7.8,11.0,312.7,102.1,68.1,22,144,3.0,6.98,7.41,3,5
1,2,Justin Herbert*,LAC,23,QB,17,17,9-8-0,443,672,65.9,5014,38,5.7,15,2.2,256,72,7.5,7.6,11.3,294.9,97.7,65.6,31,214,4.4,6.83,6.95,5,5
2,3,Matthew Stafford,LAR,33,QB,17,17,12-5-0,404,601,67.2,4886,41,6.8,17,2.8,291,79,8.1,8.2,12.1,287.4,102.9,63.8,30,243,4.8,7.36,7.45,3,4
3,4,Patrick Mahomes*,KAN,26,QB,17,17,12-5-0,436,658,66.3,4839,37,5.6,13,2.0,316,75,7.4,7.6,11.1,284.6,98.5,62.2,28,146,4.1,6.84,7.07,3,3
4,5,Derek Carr,LVR,30,QB,17,17,10-7-0,428,626,68.4,4804,23,3.7,14,2.2,232,61,7.7,7.4,11.2,282.6,94.0,52.4,40,241,6.0,6.85,6.60,3,6

What if I wanted all the elements except the first one?

In [42]:
small_df.loc[[False, True, True, True, True], :]

,Rk,Player,Tm,Age,Pos,G,GS,QBrec,Cmp,Att,Cmp%,Yds,TD,TD%,Int,Int%,1D,Lng,Y/A,AY/A,Y/C,Y/G,Rate,QBR,Sk,Yds.1,Sk%,NY/A,ANY/A,4QC,GWD
1,2,Justin Herbert*,LAC,23,QB,17,17,9-8-0,443,672,65.9,5014,38,5.7,15,2.2,256,72,7.5,7.6,11.3,294.9,97.7,65.6,31,214,4.4,6.83,6.95,5,5
2,3,Matthew Stafford,LAR,33,QB,17,17,12-5-0,404,601,67.2,4886,41,6.8,17,2.8,291,79,8.1,8.2,12.1,287.4,102.9,63.8,30,243,4.8,7.36,7.45,3,4
3,4,Patrick Mahomes*,KAN,26,QB,17,17,12-5-0,436,658,66.3,4839,37,5.6,13,2.0,316,75,7.4,7.6,11.1,284.6,98.5,62.2,28,146,4.1,6.84,7.07,3,3
4,5,Derek Carr,LVR,30,QB,17,17,10-7-0,428,626,68.4,4804,23,3.7,14,2.2,232,61,7.7,7.4,11.2,282.6,94.0,52.4,40,241,6.0,6.85,6.60,3,6

Why can we do this!? When we are 'selecting' rows using the .loc command, this is really what Pandas is seeing - for every row, it has to decide if it wants to keep that row (True) or not (False). 

As one might imagine, writing out the entire list of boolean values would be horribly inefficient. So usually there are quicker ways we can do so

In [43]:
small_df.iloc[small_df.index != 0, :]

,Rk,Player,Tm,Age,Pos,G,GS,QBrec,Cmp,Att,Cmp%,Yds,TD,TD%,Int,Int%,1D,Lng,Y/A,AY/A,Y/C,Y/G,Rate,QBR,Sk,Yds.1,Sk%,NY/A,ANY/A,4QC,GWD
1,2,Justin Herbert*,LAC,23,QB,17,17,9-8-0,443,672,65.9,5014,38,5.7,15,2.2,256,72,7.5,7.6,11.3,294.9,97.7,65.6,31,214,4.4,6.83,6.95,5,5
2,3,Matthew Stafford,LAR,33,QB,17,17,12-5-0,404,601,67.2,4886,41,6.8,17,2.8,291,79,8.1,8.2,12.1,287.4,102.9,63.8,30,243,4.8,7.36,7.45,3,4
3,4,Patrick Mahomes*,KAN,26,QB,17,17,12-5-0,436,658,66.3,4839,37,5.6,13,2.0,316,75,7.4,7.6,11.1,284.6,98.5,62.2,28,146,4.1,6.84,7.07,3,3
4,5,Derek Carr,LVR,30,QB,17,17,10-7-0,428,626,68.4,4804,23,3.7,14,2.2,232,61,7.7,7.4,11.2,282.6,94.0,52.4,40,241,6.0,6.85,6.60,3,6

What's going on here!? Well first what is small_df.index?

In [44]:
print(type(small_df.index))

<class 'pandas.core.indexes.range.RangeIndex'>

In [45]:
print(small_df.index)

RangeIndex(start=0, stop=5, step=1)

For all intents and purposes, it's basically a list. But it's a list! And zero is a number! Why can we do 'list != number' and not get an error!?

This is (basically) called broadcasting - Pandas assumes that what you really meant is "compare each element of list with 'number'", e.g. 'list != [0,0,0,0,0]'

In [46]:
print(small_df.index != 0)

[False  True  True  True  True]

Let's sort this by 'Rate' to see who are some of the best quarterbacks

In [47]:
#pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

sorted_df = df.sort_values('Rate', ascending=False)

In [48]:

sorted_df.head(15)

,Rk,Player,Tm,Age,Pos,G,GS,QBrec,Cmp,Att,Cmp%,Yds,TD,TD%,Int,Int%,1D,Lng,Y/A,AY/A,Y/C,Y/G,Rate,QBR,Sk,Yds.1,Sk%,NY/A,ANY/A,4QC,GWD
91,Rk,Player,Tm,Age,Pos,G,GS,QBrec,Cmp,Att,Cmp%,Yds,TD,TD%,Int,Int%,1D,Lng,Y/A,AY/A,Y/C,Y/G,Rate,QBR,Sk,Yds,Sk%,NY/A,ANY/A,4QC,GWD
29,Rk,Player,Tm,Age,Pos,G,GS,QBrec,Cmp,Att,Cmp%,Yds,TD,TD%,Int,Int%,1D,Lng,Y/A,AY/A,Y/C,Y/G,Rate,QBR,Sk,Yds,Sk%,NY/A,ANY/A,4QC,GWD
60,Rk,Player,Tm,Age,Pos,G,GS,QBrec,Cmp,Att,Cmp%,Yds,TD,TD%,Int,Int%,1D,Lng,Y/A,AY/A,Y/C,Y/G,Rate,QBR,Sk,Yds,Sk%,NY/A,ANY/A,4QC,GWD
45,45,Josh Johnson,2TM,35,NaN,4,1,0-1-0,57,85,67.1,638,5,5.9,2,2.4,39,28,7.5,7.6,11.2,159.5,99.0,NaN,3,23,3.4,6.99,7.10,NaN,NaN
11,12,Jimmy Garoppolo,SFO,30,QB,15,15,9-6-0,301,441,68.3,3810,20,4.5,12,2.7,202,83,8.6,8.3,12.7,254.0,98.7,53.3,29,201,6.2,7.68,7.38,3,3
64,63,Kyle Allen,WAS,25,QB,2,0,NaN,12,19,63.2,120,1,5.3,0,0.0,6,19,6.3,7.4,10.0,60.0,98.6,24.6,2,5,9.5,5.48,6.43,NaN,NaN
3,4,Patrick Mahomes*,KAN,26,QB,17,17,12-5-0,436,658,66.3,4839,37,5.6,13,2.0,316,75,7.4,7.6,11.1,284.6,98.5,62.2,28,146,4.1,6.84,7.07,3,3
55,55,Nick Foles,CHI,32,QB,1,1,1-0-0,24,35,68.6,250,1,2.9,0,0.0,14,30,7.1,7.7,10.4,250.0,98.5,45.6,4,21,10.3,5.87,6.38,1,1
1,2,Justin Herbert*,LAC,23,QB,17,17,9-8-0,443,672,65.9,5014,38,5.7,15,2.2,256,72,7.5,7.6,11.3,294.9,97.7,65.6,31,214,4.4,6.83,6.95,5,5
46,46,Trey Lance,SFO,21,QB,6,2,1-1-0,41,71,57.7,603,5,7.0,2,2.8,27,76,8.5,8.6,14.7,100.5,97.3,33.4,4,15,5.3,7.84,7.97,NaN,NaN
22,23,Teddy Bridgewater,DEN,29,QB,14,14,7-7-0,285,426,66.9,3052,18,4.2,7,1.6,146,64,7.2,7.3,10.7,218.0,94.9,47.4,31,211,6.8,6.22,6.32,0,1
17,18,Carson Wentz,IND,29,QB,17,17,9-8-0,322,516,62.4,3563,27,5.2,7,1.4,165,76,6.9,7.3,11.1,209.6,94.6,54.7,32,227,5.8,6.09,6.50,NaN,NaN
4,5,Derek Carr,LVR,30,QB,17,17,10-7-0,428,626,68.4,4804,23,3.7,14,2.2,232,61,7.7,7.4,11.2,282.6,94.0,52.4,40,241,6.0,6.85,6.60,3,6
12,13,Mac Jones*,NWE,23,QB,17,17,10-7-0,352,521,67.6,3801,22,4.2,13,2.5,190,75,7.3,7.0,10.8,223.6,92.5,50.9,28,241,5.1,6.48,6.22,1,1
7,8,Josh Allen,BUF,25,QB,17,17,11-6-0,409,646,63.3,4407,36,5.6,15,2.3,261,61,6.8,6.9,10.8,259.2,92.2,60.7,26,164,3.9,6.31,6.38,NaN,NaN

Why did we get a weird output? Why is Josh Johnson the highest?

In [49]:
print(df['Rate'].dtype)

object

Python is not reading 'Rate' as a number, instead it is reading it as a 'python object'. So if we want to sort it properly (i.e. the largest numbers being at the top, we have to change the column to being a 'numeric' data type.

In [50]:
# this will change the one column to be a numeric type
# we have to save the column
df['Rate'] = pd.to_numeric(df['Rate'], errors='coerce')

In [51]:
print(df['Rate'].dtype)

float64

In [52]:
# This is how we would do it if we wanted to change mulitple columns to numeric type. The "errors = 'coerce'" part
# isn't important, the interesting part is using the 'apply' function, a very useful python function

columns_to_make_numeric = ['G', 'GS', 'Cmp', 'Att', 'Y/G', 'Rate', 'QBR', 'Sk']

df[columns_to_make_numeric] = df[columns_to_make_numeric].apply(pd.to_numeric, errors='coerce')

In [53]:
print(df['G'].dtype)

float64

In [54]:
correctly_sorted_df = df.sort_values('Rate', ascending=False)

In [55]:
correctly_sorted_df.head(15)

,Rk,Player,Tm,Age,Pos,G,GS,QBrec,Cmp,Att,Cmp%,Yds,TD,TD%,Int,Int%,1D,Lng,Y/A,AY/A,Y/C,Y/G,Rate,QBR,Sk,Yds.1,Sk%,NY/A,ANY/A,4QC,GWD
77,76,Kendrick Bourne,NWE,26,wr,17.0,5.0,NaN,1.0,1.0,100.0,25,1,100.0,0,0.0,1,25,25.0,45.0,25.0,1.5,158.3,100.0,0.0,0,0.0,25.00,45.00,NaN,NaN
67,66,Tom Kennedy,DET,25,WR,12.0,0.0,NaN,1.0,1.0,100.0,75,1,100.0,0,0.0,1,75,75.0,95.0,75.0,6.3,158.3,100.0,0.0,0,0.0,75.00,95.00,NaN,NaN
56,56,Brian Hoyer,NWE,36,QB,5.0,0.0,NaN,9.0,11.0,81.8,227,1,9.1,0,0.0,8,48,20.6,22.5,25.2,45.4,149.1,97.4,0.0,0,0.0,20.64,22.45,NaN,NaN
79,78,Deebo Samuel*+,SFO,25,WR,16.0,15.0,NaN,1.0,2.0,50.0,24,1,50.0,0,0.0,1,24,12.0,22.0,24.0,1.5,133.3,98.7,0.0,0,0.0,12.00,22.00,NaN,NaN
88,87,Derrick Henry,TEN,27,RB,8.0,8.0,NaN,1.0,1.0,100.0,5,1,100.0,0,0.0,1,5,5.0,25.0,5.0,0.6,127.1,76.6,0.0,0,0.0,5.00,25.00,NaN,NaN
80,79,Chris Banjo,ARI,31,DB,16.0,0.0,NaN,1.0,1.0,100.0,23,0,0.0,0,0.0,1,23,23.0,23.0,23.0,1.4,118.7,NaN,0.0,0,0.0,23.00,23.00,NaN,NaN
76,75,Christian Kirk,ARI,25,WR,17.0,11.0,NaN,1.0,1.0,100.0,33,0,0.0,0,0.0,1,33,33.0,33.0,33.0,1.9,118.7,100.0,0.0,0,0.0,33.00,33.00,NaN,NaN
83,82,Dante Pettis,NYG,26,WR,3.0,0.0,NaN,1.0,1.0,100.0,16,0,0.0,0,0.0,1,16,16.0,16.0,16.0,5.3,118.7,92.5,0.0,0,0.0,16.00,16.00,NaN,NaN
70,69,Jakobi Meyers,NWE,25,WR,17.0,16.0,NaN,2.0,2.0,100.0,45,0,0.0,0,0.0,1,30,22.5,22.5,22.5,2.6,118.7,73.6,0.0,0,0.0,22.50,22.50,NaN,NaN
84,83,Courtland Sutton,DEN,26,WR,17.0,16.0,NaN,1.0,1.0,100.0,16,0,0.0,0,0.0,1,16,16.0,16.0,16.0,0.9,118.7,99.9,0.0,0,0.0,16.00,16.00,NaN,NaN
69,68,Tyler Boyd,CIN,27,wr,16.0,10.0,NaN,1.0,1.0,100.0,46,0,0.0,0,0.0,1,46,46.0,46.0,46.0,2.9,118.7,98.7,0.0,0,0.0,46.00,46.00,NaN,NaN
85,84,Tommy Townsend,KAN,25,P,16.0,0.0,NaN,1.0,1.0,100.0,16,0,0.0,0,0.0,1,16,16.0,16.0,16.0,1.0,118.7,NaN,0.0,0,0.0,16.00,16.00,NaN,NaN
75,74,C.J. Beathard,JAX,28,QB,2.0,0.0,NaN,2.0,2.0,100.0,33,0,0.0,0,0.0,1,28,16.5,16.5,16.5,16.5,118.7,90.3,0.0,0,0.0,16.50,16.50,NaN,NaN
65,64,Cedrick Wilson Jr.,DAL,26,WR,16.0,4.0,NaN,3.0,3.0,100.0,88,0,0.0,0,0.0,3,35,29.3,29.3,29.3,5.5,118.7,99.9,0.0,0,0.0,29.33,29.33,NaN,NaN
53,53,Joe Flacco,NYJ,36,QB,2.0,1.0,0-1-0,27.0,42.0,64.3,338,3,7.1,0,0.0,14,62,8.0,9.5,12.5,169.0,113.0,43.5,2.0,13,4.5,7.39,8.75,NaN,NaN

Great! Now we have a sorted dataframe. But we probably don't care about these quarterbacks who've made so few completions right? Let's get rid of them

In [56]:
filtered_df = correctly_sorted_df.loc[correctly_sorted_df['Att'] >= 20, :]

In [57]:

filtered_df.head(15)

,Rk,Player,Tm,Age,Pos,G,GS,QBrec,Cmp,Att,Cmp%,Yds,TD,TD%,Int,Int%,1D,Lng,Y/A,AY/A,Y/C,Y/G,Rate,QBR,Sk,Yds.1,Sk%,NY/A,ANY/A,4QC,GWD
53,53,Joe Flacco,NYJ,36,QB,2.0,1.0,0-1-0,27.0,42.0,64.3,338,3,7.1,0,0.0,14,62,8.0,9.5,12.5,169.0,113.0,43.5,2.0,13,4.5,7.39,8.75,NaN,NaN
9,10,Aaron Rodgers*+,GNB,38,QB,16.0,16.0,13-3-0,366.0,531.0,68.9,4115,37,7.0,4,0.8,221,75,7.7,8.8,11.2,257.2,111.9,69.1,30.0,188,5.3,7.00,8.00,1,2
5,6,Joe Burrow,CIN,25,QB,16.0,16.0,10-6-0,366.0,520.0,70.4,4611,34,6.5,14,2.7,250,82,8.9,9.0,12.6,288.2,108.3,54.3,51.0,370,8.9,7.43,7.51,2,3
50,50,Cooper Rush,DAL,28,QB,5.0,1.0,1-0-0,30.0,47.0,63.8,422,3,6.4,1,2.1,18,73,9.0,9.3,14.1,84.4,105.1,41.8,3.0,19,6.0,8.06,8.36,1,1
49,49,Gardner Minshew II,PHI,25,QB,4.0,2.0,1-1-0,41.0,60.0,68.3,439,4,6.7,1,1.7,24,36,7.3,7.9,10.7,109.8,104.8,60.6,5.0,31,7.7,6.28,6.82,NaN,NaN
6,7,Dak Prescott,DAL,28,QB,16.0,16.0,11-5-0,410.0,596.0,68.8,4449,37,6.2,10,1.7,238,51,7.5,8.0,10.9,278.1,104.2,54.6,30.0,144,4.8,6.88,7.34,1,2
8,9,Kirk Cousins*,MIN,33,QB,16.0,16.0,8-8-0,372.0,561.0,66.3,4221,33,5.9,7,1.2,192,64,7.5,8.1,11.3,263.8,103.1,52.3,28.0,197,4.8,6.83,7.42,3,4
21,22,Russell Wilson*,SEA,33,QB,14.0,14.0,6-8-0,259.0,400.0,64.8,3113,25,6.3,6,1.5,135,69,7.8,8.4,12.0,222.4,103.1,54.7,33.0,266,7.6,6.58,7.11,0,1
43,43,Geno Smith,SEA,31,QB,4.0,3.0,1-2-0,65.0,95.0,68.4,702,5,5.3,1,1.1,31,84,7.4,8.0,10.8,175.5,103.0,45.8,13.0,117,12.0,5.42,5.93,NaN,NaN
2,3,Matthew Stafford,LAR,33,QB,17.0,17.0,12-5-0,404.0,601.0,67.2,4886,41,6.8,17,2.8,291,79,8.1,8.2,12.1,287.4,102.9,63.8,30.0,243,4.8,7.36,7.45,3,4
34,34,Jameis Winston,NOR,27,QB,7.0,7.0,5-2-0,95.0,161.0,59.0,1170,14,8.7,3,1.9,56,72,7.3,8.2,12.3,167.1,102.8,64.4,11.0,69,6.4,6.40,7.24,0,1
0,1,Tom Brady*,TAM,44,QB,17.0,17.0,13-4-0,485.0,719.0,67.5,5316,43,6.0,12,1.7,297,62,7.4,7.8,11.0,312.7,102.1,68.1,22.0,144,3.0,6.98,7.41,3,5
42,42,Colt McCoy,ARI,35,QB,8.0,3.0,2-1-0,74.0,99.0,74.7,740,3,3.0,1,1.0,39,50,7.5,7.6,10.0,92.5,101.4,54.5,6.0,40,5.7,6.67,6.81,NaN,NaN
13,14,Kyler Murray*,ARI,24,QB,14.0,14.0,9-5-0,333.0,481.0,69.2,3787,24,5.0,10,2.1,179,77,7.9,7.9,11.4,270.5,100.6,57.3,31.0,286,6.1,6.84,6.90,1,1
45,45,Josh Johnson,2TM,35,NaN,4.0,1.0,0-1-0,57.0,85.0,67.1,638,5,5.9,2,2.4,39,28,7.5,7.6,11.2,159.5,99.0,NaN,3.0,23,3.4,6.99,7.10,NaN,NaN